@model Event
@{
    ViewData["Title"] = "Event Details";
}

<h1>Event Details</h1>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Model.Date.ToString("dd/MM/yyyy")
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxParticipants)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxParticipants)
        </dd>

        <dt class="col-sm-2">
            Participants Count
        </dt>
        <dd class="col-sm-10">
            @(Model.Participants?.Count ?? 0)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>